/*Inserta tu css aqui*/
*{outline: 1px solid rgba(255,0,0,0.3);}
.fondo_interno{
	width: 50%;
	height: 100%;
	padding:6%;
	margin: auto;
	border: 5px solid #A10282;
	border-radius:10%;
	


}
h3{
	font-family: 'Lobster'!important ;
	text-align: center;
	font-size: 50px !important;
	background-color: #F4DCE8;
	padding: 2%;
}
button{
	padding: auto;
}

#bienvenida{
	background: url(https://s-media-cache-ak0.pinimg.com/564x/c7/63/25/c7632575d6661a03e39c2b9ba14c478b.jpg);
	width: 100%;
	height: 100%;
}

.fondo_normal{
	background: url(https://s-media-cache-ak0.pinimg.com/564x/c7/63/25/c7632575d6661a03e39c2b9ba14c478b.jpg);
width: 100%;
 height:100%;
 z-index: -100;
 position: absolute;
}
.sara{
	height: 100%;
}

.titulo{
	text-align: center;
	background: #FAF5F9;
	border: 3px solid #A10282;
	width: 94%;
	margin-left: 3%;
}
.total{
	width: 90%;
}
.fondo_general{
	background: url(https://s-media-cache-ak0.pinimg.com/564x/c7/63/25/c7632575d6661a03e39c2b9ba14c478b.jpg);

}

#chat{
	display: none;
}

.sara {
	height: 500px;
	background-color: #FAF5F9;
	border: 3px solid #A10282;
	margin: 2px;

}	

.derecha{
	margin-left: 40px;
	margin-right: 20px;
}

#caja-mensaje{
	background-color: #A8DCF7;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
}
#caja-mensaje input{
	border: solid 1px #4193BF;
	outline: none;
	padding: 10px;
	width: 100%;
}
#caja-mensaje button{
	border: 0;
	background-color: #4193BF;
	color: white;
	font-size: 16px;
	padding: 8px;
	width: 40%;
	margin:2%;
}
.especial{
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	display: inline-block;
	font-size: 13px;
	padding: 15px;
	vertical-align: top;
	width: 280px;
}
.chat_mensajes{
	overflow-y: scroll;
	height: 350px;

}

.redondo{
	width: 8%;
	border-radius: 100%;
}

.lista img{
	width: 20%;
	border-radius: 100%;
	
}
.lista p{
	font-size: 10px;
}

.lista h4{
	font-size: 13px;
}
.inline{
	display: inline-block;
}
